/* Navigation Bar */
.nav-bar-container{
    position: relative;
    height: 20%;
}
.nav-bar{
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-li{
    display: inline-flex;
    float: right;
}
.image-li{
    display: inline-flex;
    float:left;
    height: 70px;
    width: 120px;
    padding: 10px 10px;
}

.text-li a {
    display: block;
    color: rgb(199, 76, 76);
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
  }

  .text-li a:hover {
    background-color: rgb(240, 231, 231);
  }


/* Body */
div{
    margin:0;
    padding:0;
    justify-content: center;
}
body{
    padding: 0;
    margin: 0;
}

.background{
    position:relative
}

.body-text{
    max-width: 45%;
    border-radius: 100;
    position:absolute;
    top: 30%;
    left: 30%;
    background-color:#c4bebea5;
    border-radius: 12px;
    text-align: center;
}
.body-h1{
    color:rgb(199, 76, 76);
    font-size: 100px;
    padding: 0px;
    margin: 0px;
}
.body-p{
    color: white;
    font-size: 20px;
}

.body-button{
    background-color:rgb(199, 76, 76); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 60px;
    margin-bottom: 10px;
}

.body-image{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.body-container{
    margin:auto;
}


/* Footer */
.footer{
    position: relative;
    bottom:0cm;
    width: 100%;
    height: auto;
    background-color:rgb(199, 76, 76);
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.footer-image-bar{
    margin: 0;
    list-style: none;
    text-align: center;
    height: auto;
}
.footer-image-li{
    display: inline-flex;
    padding: 30px 50px;
    height: 100px;
    width: 50px;
}

.footer-text-bar{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
    bottom: 0;
    height: 5%;
    text-align: center;
}

.footer-li{
    display: inline-flex;
}

.footer-li a{
    display: block;
    color:azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer-li a:hover {
    background-color:darkred;
  }